/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Crimson Pro', serif;
  color: #000000;
}

/*============= TOP BAR HEADER =============*/

.top-bar {
  background: #E0D2E5;
  height: 2.8rem;
  padding: 0.5rem 0;
}
.top-bar a {
  color: #5b5555;
  font-size: 1.1rem;
}

/*============= NAVIGATION =============*/

.navbar-brand img{
  height: 3rem;
}

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
  z-index: 1;
  text-transform: uppercase;
}
.nav-item {
  padding: 0.5em;
}
.nav-link {
  color:#5b5555!important;
}
.nav-link.active,
.nav-link:hover {
  color:#dcb9e3!important;
}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
}
.carousel-inner {
  /*max-height:38rem!important;*/
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}

/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%)
}
.bg-custom {
  background-color: rgba(0,0,0,.4);
  color: white;
  border-radius: 1rem;
}
.carousel-caption h1{
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,1);
}
.border-primary {
  border-top: .2rem solid #79587e!important;
}
.carousel-caption h3{
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0,0,0,1);
}
.btn-lg {
  border-radius: 0;
  font-size: 1rem;
  border-width: medium;
}
.btn-danger,
.btn-primary {
  background-color: #926fbd;
  border: .1rem solid #926fbd;
}
.btn-danger:hover,
.btn-primary:hover {
  background-color: #926fbd;
  border: .1rem solid #926fbd;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}


/*-- Emoji Navbar --*/



/*============= FOOTER =============*/

footer {
  background-color:#926fbd;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p, footer a,
.socket a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li {
  margin: 0 auto;
}
footer .svg-inline--fa {
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover {
  color: #79587e;
}
/*============= SOCKET =============*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  th {
    display: block;
    text-align: center!important;
    width: 100%!important;
  }
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

#lightPurple {
  background-color:#dcb9e3;
  color: white!important;
}

#darkPurple {
  background-color:#926fbd;
  color: white!important;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  .container {
    padding-right:0%;
    padding-left:0%
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height:100%;
}

/* Some left and right padding inside the container */


/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #79587e;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.team img {
  width: auto;
  height: 450px;
}